*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*::selection{
    color:black;
    background-color: orange;
}
.container{
    width:100%;
    height:100%;
    overflow: hidden;
}